<a href="https://colab.research.google.com/github/msharma1207/pandas_practice/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
#Create a DataFrame df from this dictionary data which has the index labels.
data ={ 'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', np.nan, 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data,index = labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2      NaN
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
rows , columns = df.shape
df.shape
columns

4

In [ ]:
list(df.columns.values)

['animal', 'age', 'visits', 'priority']

In [ ]:
sorted(df)

['age', 'animal', 'priority', 'visits']

In [ ]:
df[['age','priority']]

   age priority
a  2.5      yes
b  3.0      yes
c  0.5       no
d  NaN      yes
e  5.0       no
f  2.0       no
g  4.5       no
h  NaN      yes
i  7.0       no
j  3.0       no

In [ ]:
df.iloc[2:8,2:3]

   visits
c       2
d       2
e       2
f       2
g       2
h       2

In [ ]:
df['age'].idxmax()

'a'

In [ ]:
df.max()

animal      dog
age         5.0
visits        2
priority     no
dtype: object

In [ ]:
df['age'].idxmin()

'a'

In [ ]:
df.interpolate()

  animal   age  visits priority
a    cat  2.50       1      yes
b    cat  3.00       3      yes
c  snake  0.50       2       no
d    dog  2.75       3      yes
e    dog  5.00       2      NaN
f    cat  2.00       3       no
g  snake  4.50       1       no
h    cat  5.75       1      yes
i    dog  7.00       2       no
j    dog  3.00       1       no

In [ ]:
from sklearn.model_selection import train_test_split 
train , test = train_test_split(df ,test_size=0.2)
test

  animal  age  visits priority
g  snake  4.5       1       no
d    dog  NaN       3      yes

Display Statistical information about this DataFrame and its data

In [ ]:
print(df.describe())

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

Display a summary of the basic information about this DataFrame and its data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  9 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

 Return the first 3 rows of the DataFrame df

In [ ]:
df.iloc[:3] # or  #df[:3]   or df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

 Select just the 'animal' and 'age' columns from the DataFrame df.

In [ ]:
df[['animal','age']]      # of df.loc[:,['animal','age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].

In [ ]:
df.loc[df.index[[3,4,8]],['animal','age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

 Select only the rows where the number of visits is greater than 3.

In [ ]:
df[df['visits']>2]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

Select the rows where the age is missing, i.e. it is NaN

In [ ]:
df[df['age'] .isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

Select the rows where the animal is a cat and the age is less than 3.

In [ ]:
df[(df['animal'] =='cat' ) & (df['age']<3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

Select the rows the age is between 2 and 4 (inclusive).

In [ ]:
 df[df['age'].between(2,4)] # inclusive                       #   df.iloc[2:4] (exclusive)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

 Change the age in row 'f' to 1.5.

In [ ]:
 df.loc['f','age'] =1.5
 df.loc['f','age']

1.5

Calculate the sum of all visits in df (i.e. find the total number of visits).

In [ ]:
df['visits'].sum()    # df.sum() gives all sum of all the columns individualy

19

Calculate the mean age for each different animal in df.

In [ ]:
df1 = df.groupby('animal')
df1['age'].mean()  
          # or    df.groupby('animal')['age'].mean

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

Append a new row 'k' to df with your choice of values for each column. Then delete that row to return the original DataFrame.

We can also use the slice technique to select a range of rows, for instance

    Delete the last 2 rows df.drop(index=df.index[-2:])
    Delete every other row df.drop(index=df.index[::2])

In [ ]:
df.loc['k'] =['cat',5.5,1,'no']
df
df.drop(index = ['a','k'])   # or df.drop('k)

  animal  age  visits priority
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2      NaN
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

Delete a single column

Similar to delete rows, Pandas drop() can be used to delete columns by specifying the axis argument to 1:

# A more intuitive way
df.drop(columns='math')


    Delete the last 2 columns df.drop(columns=df.columns[-2:])
    Delete every other column df.drop(columns=df.columns[::2])

In [ ]:
df2 = df.drop('age',axis=1)
df2

  animal  visits priority
a    cat       1      yes
b    cat       3      yes
c  snake       2       no
d    dog       3      yes
e    dog       2      NaN
f    cat       3       no
g  snake       1       no
h    cat       1      yes
i    dog       2       no
j    dog       1       no
k    cat       1       no

Count the number of each type of animal in df.

In [ ]:
df['animal'] .value_counts()

cat      5
dog      4
snake    2
Name: animal, dtype: int64

Sort df first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order (so row i should be first, and row d should be last)

In [ ]:
df.sort_values(by = ['age','visits'], ascending = [False,True])

  animal  age  visits priority
i    dog  7.0       2       no
k    cat  5.5       1       no
e    dog  5.0       2      NaN
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.

In [ ]:
df['priority'] = df['priority'].map({'yes':True , 'no':False})
df

  animal  age  visits priority
a    cat  2.5       1     True
b    cat  3.0       3     True
c  snake  0.5       2    False
d    dog  NaN       3     True
e    dog  5.0       2      NaN
f    cat  1.5       3    False
g  snake  4.5       1    False
h    cat  NaN       1     True
i    dog  7.0       2    False
j    dog  3.0       1    False
k    cat  5.5       1    False

In the 'animal' column, change the 'snake' entries to 'python'.

In [ ]:
df['animal'] = df['animal'].replace('snake', 'python')
df

   animal  age  visits priority
a     cat  2.5       1     True
b     cat  3.0       3     True
c  python  0.5       2    False
d     dog  NaN       3     True
e     dog  5.0       2      NaN
f     cat  1.5       3    False
g  python  4.5       1    False
h     cat  NaN       1     True
i     dog  7.0       2    False
j     dog  3.0       1    False
k     cat  5.5       1    False

In [ ]:
df.isnull()

   animal    age  visits  priority
a   False  False   False     False
b   False  False   False     False
c   False  False   False     False
d   False   True   False     False
e   False  False   False      True
f   False  False   False     False
g   False  False   False     False
h   False   True   False     False
i   False  False   False     False
j   False  False   False     False
k   False  False   False     False

For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages

In [ ]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

visits    1    2     3
animal
cat     4.0  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN

**Merge**

In [ ]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
df1

     a  b
0  foo  1
1  bar  2

In [ ]:
df2

     a  c
0  foo  3
1  baz  4

In [ ]:
df1.merge(df2 ,how = 'inner' ,on ='a')

     a  b  c
0  foo  1  3

In [ ]:
df1.merge(df2 ,how = 'left' ,on ='a')

     a  b    c
0  foo  1  3.0
1  bar  2  NaN

In [ ]:
df1.merge(df2 ,how = 'right' ,on ='a')

     a    b  c
0  foo  1.0  3
1  baz  NaN  4

In [ ]:
df1.merge(df2 ,how = 'outer' ,on ='a')

     a    b    c
0  foo  1.0  3.0
1  bar  2.0  NaN
2  baz  NaN  4.0

You have a DataFrame df with a column 'A' of integers. For example:

df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})

How do you filter out rows which contain the same integer as the row immediately above?

You should be left with a column containing the following values:

1, 2, 3, 4, 5, 6, 7

In [ ]:
Data = {'A':[1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]}
Df = pd.DataFrame(Data)
Df.loc[Df['A'].shift()!=Df['A']]

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

 Given a DataFrame of numeric values, say

df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values

how do you subtract the row mean from each element in the row?

In [ ]:
dfr = pd.DataFrame(np.random.random(size=(6, 3))) 
dfr
dfr.mean(axis=1)    # gives mean row wise and dfr.mean()  gives columns wise
dfr.sub(dfr.mean(axis=1),axis=0)

          0         1         2
0 -0.462400  0.262644  0.199756
1 -0.239026 -0.213711  0.452737
2  0.063024 -0.120056  0.057032
3  0.130119 -0.191929  0.061809
4 -0.420439  0.202912  0.217527
5  0.270598 -0.155341 -0.115257

In [ ]:
dfr

          0         1         2
0  0.043561  0.768605  0.705717
1  0.040798  0.066113  0.732561
2  0.651602  0.468522  0.645610
3  0.527805  0.205757  0.459495
4  0.263906  0.887257  0.901872
5  0.598336  0.172397  0.212481

Suppose you have DataFrame with 10 columns of real numbers, for example:

df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

Which column of numbers has the smallest sum? Return that column's label.

In [ ]:
dff = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
dff
dff.sum().idxmin()

'b'

How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)? As input, use a DataFrame of zeros and ones with 10 rows and 3 columns.

In [ ]:
dfs = pd.DataFrame(np.random.randint(0,2 ,size =(10,3)))
dfs
len(dfs.drop_duplicates(keep=False))

5

In the cell below, you have a DataFrame df that consists of 10 columns of floating-point numbers. Exactly 5 entries in each row are NaN values.

For each row of the DataFrame, find the column which contains the third NaN value.

You should return a Series of column labels: e, c, d, h, d

In [ ]:
nan =np.nan
data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]

columns = list('abcdefghij')
df = pd.DataFrame(data ,columns = columns)
df

      a   b     c     d     e     f     g     h     i     j
0  0.04 NaN   NaN  0.25   NaN  0.43  0.71  0.51   NaN   NaN
1   NaN NaN   NaN  0.04  0.76   NaN   NaN  0.67  0.76  0.16
2   NaN NaN  0.50   NaN  0.31  0.40   NaN   NaN  0.24  0.01
3  0.49 NaN   NaN  0.62  0.73  0.26  0.85   NaN   NaN   NaN
4   NaN NaN  0.41   NaN  0.05   NaN  0.61   NaN  0.48  0.68

In [ ]:
(df.isnull().cumsum(axis=1)==3).idxmax(axis=1)

0    e
1    c
2    d
3    h
4    d
dtype: object

 A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example:

df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

For each group, find the sum of the three greatest values.

In [ ]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df
df.groupby('grps')['vals'].nlargest(3).sum(level =0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  after removing the cwd from sys.path.

grps
a    409
b    156
c    345
Name: vals, dtype: int64

In [ ]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

38. Some values in the the FlightNumber column are missing. These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in these missing numbers and make the column an integer column (instead of a float column).

In [ ]:
df['FlightNumber'] = df['FlightNumber'].interpolate().astype(int)
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

The From_To column would be better as two separate columns! Split each string on the underscore delimiter _ to give a new temporary DataFrame with the correct values. Assign the correct column names to this temporary DataFrame.

In [ ]:
temp1 = df.From_To.str.split('_', expand=True)
temp1.columns=['From','To']
temp1

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

Notice how the capitalisation of the city names is all mixed up in this temporary DataFrame. Standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London".)

In [ ]:
temp1['To'] = temp1['To'].str.capitalize()
temp1

       From         To
0    LoNDon      Paris
1    MAdrid      Milan
2    londON  Stockholm
3  Budapest      Paris
4  Brussels     London

Find a way to binary encode multi-valued categorical variables from a Pandas dataframe

In [ ]:
data = pd.DataFrame.from_records(
    [[0, 'A'], [0, 'B'], [1, 'B'], [1, 'C'], [1, 'D'], [2, 'B'], [2, 'D']],
    columns=['number_label', 'category'])
data

   number_label category
0             0        A
1             0        B
2             1        B
3             1        C
4             1        D
5             2        B
6             2        D

In [ ]:
data.pivot_table(index=['number_label'], columns=['category'], aggfunc=[len], fill_value=0)

             len
category       A  B  C  D
number_label
0              1  1  0  0
1              0  1  1  1
2              0  1  0  1

Group DataFrame Rows into a List

In [ ]:
df = pd.DataFrame( {'a':['A','A','B','B','B','C'], 'b':[1,2,5,5,4,6]})
df
df.groupby('a')['b'].apply(list).reset_index(name = 'new')

   a        new
0  A     [1, 2]
1  B  [5, 5, 4]
2  C        [6]

**How do you count unique values per group with Pandas?**

In [ ]:
 data = {'ID': [123,  123,  123,  456,  456,  456, 456, 789, 789],
        "domain":['vk.com', 'vk.com', 'twitter.com', 'vk.com','facebook.com', 'vk.com','google.com','twitter.com','vk.com']
       }

df = pd.DataFrame(data)
df

    ID        domain
0  123        vk.com
1  123        vk.com
2  123   twitter.com
3  456        vk.com
4  456  facebook.com
5  456        vk.com
6  456    google.com
7  789   twitter.com
8  789        vk.com

In [ ]:
df.groupby('domain')['ID'].nunique()

domain
facebook.com    1
google.com      1
twitter.com     2
vk.com          3
Name: ID, dtype: int64